# About the dataset

### Data Preparation and Cleaning

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../churn/churn.csv', index_col=[0])

In [3]:
df.head().T

,0,1,2,3,4
age,18,32,44,37,31
gender,F,F,F,M,F
security_no,XW0DQ7H,5K0N3X1,1F2TCL3,VJGJ33N,SVZXCWB
region_category,Village,City,Town,City,City
membership_category,Platinum Membership,Premium Membership,No Membership,No Membership,No Membership
joining_date,2017-08-17,2017-08-28,2016-11-11,2016-10-29,2017-09-12
joined_through_referral,No,?,Yes,Yes,No
referral_id,xxxxxxxx,CID21329,CID12313,CID3793,xxxxxxxx
preferred_offer_types,Gift Vouchers/Coupons,Gift Vouchers/Coupons,Gift Vouchers/Coupons,Gift Vouchers/Coupons,Credit/Debit Card Offers
medium_of_operation,?,Desktop,Desktop,Desktop,Smartphone
internet_option,Wi-Fi,Mobile_Data,Wi-Fi,Mobile_Data,Mobile_Data
last_visit_time,16:08:02,12:38:13,22:53:21,15:57:50,15:46:44
days_since_last_login,17,16,14,11,20
avg_time_spent,300.63,306.34,516.16,53.27,113.13
avg_transaction_value,53005.25,12838.38,21027.0,25239.56,24483.66
avg_frequency_login_days,17.0,10.0,22.0,6.0,16.0
points_in_wallet,781.75,NaN,500.69,567.66,663.06
used_special_discount,Yes,Yes,No,No,No
offer_application_preference,Yes,No,Yes,Yes,Yes
past_complaint,No,Yes,Yes,Yes,Yes
complaint_status,Not Applicable,Solved,Solved in Follow-up,Unsolved,Solved
feedback,Products always in Stock,Quality Customer Care,Poor Website,Poor Website,Poor Website
churn_risk_score,0,0,1,1,1

In [4]:
df.describe()

,age,days_since_last_login,avg_time_spent,avg_transaction_value,points_in_wallet,churn_risk_score
count,36992.000000,36992.000000,36992.000000,36992.000000,33549.000000,36992.000000
mean,37.118161,-41.915576,243.472334,29271.194003,686.882199,0.540982
std,15.867412,228.819900,398.289149,19444.806226,194.063624,0.498324
min,10.000000,-999.000000,-2814.109110,800.460000,-760.661236,0.000000
25%,23.000000,8.000000,60.102500,14177.540000,616.150000,0.000000
50%,37.000000,12.000000,161.765000,27554.485000,697.620000,1.000000
75%,51.000000,16.000000,356.515000,40855.110000,763.950000,1.000000
max,64.000000,26.000000,3235.578521,99914.050000,2069.069761,1.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36992 entries, 0 to 36991
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           36992 non-null  int64
 1   gender                        36992 non-null  object
 2   security_no                   36992 non-null  object
 3   region_category               31564 non-null  object
 4   membership_category           36992 non-null  object
 5   joining_date                  36992 non-null  object
 6   joined_through_referral       36992 non-null  object
 7   referral_id                   36992 non-null  object
 8   preferred_offer_types         36704 non-null  object
 9   medium_of_operation           36992 non-null  object
 10  internet_option               36992 non-null  object
 11  last_visit_time               36992 non-null  object
 12  days_since_last_login         36992 non-null  int64
 13  avg_time_spent                36992 non-null  float64
 14  avg_transaction_value         36992 non-null  float64
 15  avg_frequency_login_days      36992 non-null  object
 16  points_in_wallet              33549 non-null  float64
 17  used_special_discount         36992 non-null  object
 18  offer_application_preference  36992 non-null  object
 19  past_complaint                36992 non-null  object
 20  complaint_status              36992 non-null  object
 21  feedback                      36992 non-null  object
 22  churn_risk_score              36992 non-null  int64
dtypes: float64(3), int64(3), object(17)
memory usage: 6.8+ MB

In [38]:
categorical = list((df.dtypes[df.dtypes == object]).index)

for category in categorical:
    print('{}: \n{} \n'.format(category, df[category].value_counts()))

gender:
F    18549
M    18443
Name: gender, dtype: int64

security_no:
XW0DQ7H    1
4KYNLO2    1
0TNAZKG    1
O8IMCTW    1
UN03OJW    1
          ..
L9BXACS    1
ESEDJQ2    1
X92X4AF    1
V526FJ1    1
LBX0GLR    1
Name: security_no, Length: 36992, dtype: int64

region_category:
Town       14128
City       12737
Village    10127
Name: region_category, dtype: int64

membership_category:
Basic Membership       7724
No Membership          7692
Gold Membership        6795
Silver Membership      5988
Premium Membership     4455
Platinum Membership    4338
Name: membership_category, dtype: int64

joining_date:
2015-06-02    55
2015-07-04    51
2015-06-21    50
2015-06-26    49
2016-08-03    49
              ..
2016-03-16    19
2016-06-03    18
2015-09-12    18
2017-07-03    18
2015-03-04    16
Name: joining_date, Length: 1096, dtype: int64

joined_through_referral:
Yes    21153
No     15839
Name: joined_through_referral, dtype: int64

referral_id:
xxxxxxxx    17846
CID43705       12
CID3979        11
CID49601       10
CID15792        9
            ...
CID28755        1
CID62237        1
CID23663        1
CID23071        1
CID45477        1
Name: referral_id, Length: 11359, dtype: int64

preferred_offer_types:
Without Offers              12369
Gift Vouchers/Coupons       12349
Credit/Debit Card Offers    12274
Name: preferred_offer_types, dtype: int64

medium_of_operation:
Desktop       13913
Smartphone    13876
Both           9203
Name: medium_of_operation, dtype: int64

internet_option:
Wi-Fi          12413
Mobile_Data    12343
Fiber_Optic    12236
Name: internet_option, dtype: int64

last_visit_time:
07:56:41    6
17:11:53    5
22:31:06    5
02:50:54    5
12:30:02    5
           ..
21:48:50    1
07:53:40    1
00:05:51    1
10:48:11    1
01:39:52    1
Name: last_visit_time, Length: 30101, dtype: int64

avg_frequency_login_days:
17.010                 3522
13.0                   1394
19.0                   1365
8.0                    1361
14.0                   1355
                       ...
28.191570401129514        1
41.73357294995208         1
-11.515939810499656       1
45.71683637272365         1
27.8399274405269          1
Name: avg_frequency_login_days, Length: 1654, dtype: int64

used_special_discount:
Yes    20342
No     16650
Name: used_special_discount, dtype: int64

offer_application_preference:
Yes    20440
No     16552
Name: offer_application_preference, dtype: int64

past_complaint:
No     18602
Yes    18390
Name: past_complaint, dtype: int64

complaint_status:
Not Applicable              18602
Unsolved                     4644
Solved                       4619
Solved in Follow-up          4577
No Information Available     4550
Name: complaint_status, dtype: int64

feedback:
Poor Product Quality        6350
No reason specified         6290
Too many ads                6279
Poor Website                6271
Poor Customer Service       6252
Reasonable Price            1417
User Friendly Website       1391
Products always in Stock    1382
Quality Customer Care       1360
Name: feedback, dtype: int64

In [7]:
numerical = list((df.dtypes[df.dtypes != object]).index)

for num in numerical:
    print('{}: \n{} \n'.format(num, df[num].value_counts()))

age:
33    720
42    716
16    716
38    714
30    711
61    709
60    704
57    704
41    699
59    696
55    695
28    694
34    692
47    691
21    689
32    685
17    683
56    682
29    681
48    680
45    680
46    679
58    678
62    677
22    677
26    675
53    675
52    672
64    672
10    670
14    670
49    669
23    669
36    668
44    661
12    661
19    660
51    660
27    659
43    657
63    656
35    656
50    656
11    654
13    654
37    653
15    649
24    645
39    642
20    641
31    636
25    635
18    629
40    628
54    608
Name: age, dtype: int64

days_since_last_login:
 12     2380
 13     2373
 14     2307
 15     2278
 11     2262
 10     2091
 16     2068
-999    1999
 9      1863
 17     1747
 8      1571
 18     1444
 7      1442
 19     1308
 6      1257
 5      1234
 20     1184
 21     1015
 4       998
 22      895
 3       852
 23      727
 2       613
 24      471
 1       328
 25      203
 26       82
Name: days_since_last_login, dtype: int64

avg_time_spent:
34.100000      21
34.710000      20
33.680000      20
34.330000      19
31.490000      18
               ..
1177.998747     1
51.550000       1
265.190000      1
447.990000      1
482.610000      1
Name: avg_time_spent, Length: 25961, dtype: int64

avg_transaction_value:
14176.97    2
7282.58     2
30126.02    2
21244.03    2
23142.51    2
           ..
40634.78    1
30596.16    1
3300.82     1
2378.69     1
2189.68     1
Name: avg_transaction_value, Length: 36894, dtype: int64

points_in_wallet:
705.070000     9
780.920000     8
771.750000     7
760.540000     7
710.690000     7
              ..
1188.729586    1
827.500000     1
357.996152     1
392.010095     1
197.264414     1
Name: points_in_wallet, Length: 23699, dtype: int64

churn_risk_score:
1    20012
0    16980
Name: churn_risk_score, dtype: int64

In [8]:
df.isnull().sum()

age                                0
gender                             0
security_no                        0
region_category                 5428
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [9]:
df[df['gender'] == 'Unknown'].churn_risk_score.value_counts()

0    30
1    29
Name: churn_risk_score, dtype: int64

In [10]:
df['gender'].replace('Unknown', 'F', inplace = True)

In [39]:
df.isnull().sum()

age                             0
gender                          0
security_no                     0
region_category                 0
membership_category             0
joining_date                    0
joined_through_referral         0
referral_id                     0
preferred_offer_types           0
medium_of_operation             0
internet_option                 0
last_visit_time                 0
days_since_last_login           0
avg_time_spent                  0
avg_transaction_value           0
avg_frequency_login_days        0
points_in_wallet                0
used_special_discount           0
offer_application_preference    0
past_complaint                  0
complaint_status                0
feedback                        0
churn_risk_score                0
dtype: int64

In [12]:
df['region_category'].fillna('Village', inplace=True)

In [13]:
df.isnull().sum()

age                                0
gender                             0
security_no                        0
region_category                    0
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [14]:
points_in_wallet_mean = df['points_in_wallet'].mean()
df['points_in_wallet'].fillna(points_in_wallet_mean, inplace = True)

In [18]:
df['medium_of_operation'].replace('?', 'Both', inplace = True)
df['joined_through_referral'].replace('?', 'Yes', inplace = True)

In [19]:
df['preferred_offer_types'].fillna('Without Offers', inplace=True)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36992 entries, 0 to 36991
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           36992 non-null  int64
 1   gender                        36992 non-null  object
 2   security_no                   36992 non-null  object
 3   region_category               36992 non-null  object
 4   membership_category           36992 non-null  object
 5   joining_date                  36992 non-null  object
 6   joined_through_referral       36992 non-null  object
 7   referral_id                   36992 non-null  object
 8   preferred_offer_types         36992 non-null  object
 9   medium_of_operation           36992 non-null  object
 10  internet_option               36992 non-null  object
 11  last_visit_time               36992 non-null  object
 12  days_since_last_login         36992 non-null  int64
 13  avg_time_spent                36992 non-null  float64
 14  avg_transaction_value         36992 non-null  float64
 15  avg_frequency_login_days      36992 non-null  object
 16  points_in_wallet              36992 non-null  float64
 17  used_special_discount         36992 non-null  object
 18  offer_application_preference  36992 non-null  object
 19  past_complaint                36992 non-null  object
 20  complaint_status              36992 non-null  object
 21  feedback                      36992 non-null  object
 22  churn_risk_score              36992 non-null  int64
dtypes: float64(3), int64(3), object(17)
memory usage: 6.8+ MB

### Setting up validation framework

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
df_full_train, df_test = train_test_split(df, test_size = 0.2, random_state = 1)

In [46]:
df_train, df_val = train_test_split(df_full_train, test_size = 0.35, random_state = 1)

In [47]:
print(len(df_train))
print(len(df_val))
print(len(df_test))

19235
10358
7399

In [48]:
df_train = df_train.reset_index(drop = True)
df_val = df_val.reset_index(drop = True)
df_test = df_test.reset_index(drop = True)

In [49]:
y_train = df_train.churn_risk_score.values
y_val = df_val.churn_risk_score.values
y_test = df_test.churn_risk_score.values

In [50]:
del df_train['churn_risk_score']
del df_val['churn_risk_score']
del df_test['churn_risk_score']

### Exploratory Data Analysis

In [51]:
df_full_train.reset_index(drop = True)

,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,12,F,46L862E,City,Premium Membership,2015-02-25,Yes,CID20235,Gift Vouchers/Coupons,Both,...,48.950000,61130.83,1.0,841.040000,Yes,No,Yes,Unsolved,Products always in Stock,0
1,11,M,J0CFZ9M,Town,No Membership,2016-06-23,Yes,CID56069,Gift Vouchers/Coupons,Smartphone,...,221.320000,6079.76,6.0,545.750000,Yes,No,No,Not Applicable,Too many ads,1
2,26,F,3PKT3VV,City,Basic Membership,2017-05-26,No,xxxxxxxx,Without Offers,Desktop,...,40.040000,15875.07,18.0,618.330000,Yes,No,No,Not Applicable,Too many ads,1
3,38,F,QXKZV3L,Village,Basic Membership,2016-01-15,No,xxxxxxxx,Gift Vouchers/Coupons,Smartphone,...,122.120000,21442.17,-6.454537667566747,686.882199,Yes,No,No,Not Applicable,Poor Website,1
4,53,M,4IRCL57,Town,Premium Membership,2016-05-27,Yes,CID26383,Without Offers,Both,...,1014.730000,83142.29,7.0,702.830000,Yes,Yes,Yes,Unsolved,Reasonable Price,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29588,43,F,1DAXW7B,Town,Silver Membership,2015-07-17,Yes,CID33644,Without Offers,Both,...,1554.710000,2936.24,11.0,798.080000,Yes,Yes,Yes,Solved,No reason specified,0
29589,61,M,GXV1KR8,Town,Basic Membership,2016-03-27,Yes,CID60523,Credit/Debit Card Offers,Smartphone,...,-870.193443,42268.72,20.0,628.510000,Yes,No,Yes,Solved,Poor Product Quality,1
29590,30,M,69KVBA1,Town,Platinum Membership,2016-02-11,Yes,CID8391,Without Offers,Smartphone,...,91.440000,47192.43,15.0,773.110000,Yes,No,Yes,Unsolved,Poor Customer Service,0
29591,28,F,UCSMPPK,City,Silver Membership,2016-06-07,No,xxxxxxxx,Without Offers,Smartphone,...,317.290000,29055.58,19.0,656.360000,No,Yes,Yes,No Information Available,Poor Customer Service,1
29592,49,M,40MWLDN,Village,Premium Membership,2017-09-07,No,xxxxxxxx,Without Offers,Both,...,400.930000,9308.55,5.0,738.610000,Yes,No,No,Not Applicable,Poor Website,0

In [52]:
df_full_train.churn_risk_score.value_counts(normalize=True)

1    0.539486
0    0.460514
Name: churn_risk_score, dtype: float64

In [54]:
numerical = ['age',
 'days_since_last_login',
 'avg_time_spent',
 'avg_transaction_value',
 'avg_frequency_login_days',
 'points_in_wallet']

categorical = ['gender',
 'security_no',
 'region_category',
 'membership_category',
 'joining_date',
 'joined_through_referral',
 'referral_id',
 'preferred_offer_types',
 'medium_of_operation',
 'internet_option',
 'last_visit_time',
 'used_special_discount',
 'offer_application_preference',
 'past_complaint',
 'complaint_status',
 'feedback']

In [55]:
df_full_train[categorical].nunique()

gender                              2
security_no                     29593
region_category                     3
membership_category                 6
joining_date                     1096
joined_through_referral             2
referral_id                      9871
preferred_offer_types               3
medium_of_operation                 3
internet_option                     3
last_visit_time                 25107
used_special_discount               2
offer_application_preference        2
past_complaint                      2
complaint_status                    5
feedback                            9
dtype: int64

#### Feature Importance

In [60]:
from IPython.display import display

In [61]:
global_churn = df_full_train.churn_risk_score.mean()
global_churn

0.5394856891832528

In [62]:
for c in categorical:
    print(c)
    df_group = df_full_train.groupby(c).churn_risk_score.agg(['mean', 'count'])
    df_group['diff'] = df_group['mean'] - global_churn
    df_group['risk'] = df_group['mean'] / global_churn
    display(df_group)
    print()
    print()

gender

            mean  count      diff      risk
gender
F       0.544042  14872  0.004557  1.008447
M       0.534882  14721 -0.004604  0.991467

security_no

             mean  count      diff      risk
security_no
002F9PP       1.0      1  0.460514  1.853617
0038JWG       1.0      1  0.460514  1.853617
003B68P       0.0      1 -0.539486  0.000000
004GGW7       1.0      1  0.460514  1.853617
004PNLG       0.0      1 -0.539486  0.000000
...           ...    ...       ...       ...
ZZSIVU3       1.0      1  0.460514  1.853617
ZZTSK9A       0.0      1 -0.539486  0.000000
ZZYRKKX       0.0      1 -0.539486  0.000000
ZZYZ9JZ       0.0      1 -0.539486  0.000000
ZZZAP21       0.0      1 -0.539486  0.000000

[29593 rows x 4 columns]

region_category

                     mean  count      diff      risk
region_category
City             0.544631  10150  0.005145  1.009537
Town             0.542391  11335  0.002905  1.005385
Village          0.528984   8108 -0.010502  0.980533

membership_category

                         mean  count      diff      risk
membership_category
Basic Membership     0.967705   6162  0.428220  1.793755
Gold Membership      0.373870   5419 -0.165616  0.693011
No Membership        0.970208   6109  0.430722  1.798394
Platinum Membership  0.000000   3469 -0.539486  0.000000
Premium Membership   0.000000   3590 -0.539486  0.000000
Silver Membership    0.422998   4844 -0.116488  0.784076

joining_date

                  mean  count      diff      risk
joining_date
2015-01-01    0.842105     19  0.302620  1.560941
2015-01-02    0.545455     22  0.005969  1.011064
2015-01-03    0.482759     29 -0.056727  0.894850
2015-01-04    0.416667     24 -0.122819  0.772341
2015-01-05    0.611111     36  0.071625  1.132766
...                ...    ...       ...       ...
2017-12-27    0.357143     28 -0.182343  0.662006
2017-12-28    0.571429     21  0.031943  1.059210
2017-12-29    0.533333     30 -0.006152  0.988596
2017-12-30    0.590909     22  0.051423  1.095319
2017-12-31    0.583333     36  0.043848  1.081277

[1096 rows x 4 columns]

joined_through_referral

                             mean  count      diff      risk
joined_through_referral
No                       0.520365  12718 -0.019121  0.964557
Yes                      0.553896  16875  0.014411  1.026712

referral_id

                 mean  count      diff      risk
referral_id
CID100       1.000000      1  0.460514  1.853617
CID10014     0.000000      1 -0.539486  0.000000
CID10018     1.000000      1  0.460514  1.853617
CID1002      0.000000      1 -0.539486  0.000000
CID10020     0.000000      1 -0.539486  0.000000
...               ...    ...       ...       ...
CID9988      1.000000      1  0.460514  1.853617
CID9993      1.000000      1  0.460514  1.853617
CID9999      0.250000      4 -0.289486  0.463404
No referral  0.800000      5  0.260514  1.482894
xxxxxxxx     0.521144  14330 -0.018341  0.966002

[9871 rows x 4 columns]

preferred_offer_types

                              mean  count      diff      risk
preferred_offer_types
Credit/Debit Card Offers  0.538847   9782 -0.000639  0.998816
Gift Vouchers/Coupons     0.511843   9837 -0.027643  0.948761
Without Offers            0.567375   9974  0.027889  1.051696

medium_of_operation

                         mean  count      diff      risk
medium_of_operation
Both                 0.531470   7372 -0.008015  0.985143
Desktop              0.532370  11075 -0.007115  0.986811
Smartphone           0.551857  11146  0.012371  1.022932

internet_option

                     mean  count      diff      risk
internet_option
Fiber_Optic      0.542808   9788  0.003322  1.006157
Mobile_Data      0.540521   9822  0.001036  1.001920
Wi-Fi            0.535210   9983 -0.004276  0.992074

last_visit_time

                 mean  count      diff      risk
last_visit_time
00:00:00          0.0      1 -0.539486  0.000000
00:00:03          1.0      1  0.460514  1.853617
00:00:04          1.0      1  0.460514  1.853617
00:00:09          0.0      1 -0.539486  0.000000
00:00:13          0.0      1 -0.539486  0.000000
...               ...    ...       ...       ...
23:59:52          0.5      2 -0.039486  0.926809
23:59:55          0.5      2 -0.039486  0.926809
23:59:56          1.0      1  0.460514  1.853617
23:59:58          0.0      1 -0.539486  0.000000
23:59:59          1.0      1  0.460514  1.853617

[25107 rows x 4 columns]

used_special_discount

                           mean  count      diff      risk
used_special_discount
No                     0.542864  13228  0.003378  1.006261
Yes                    0.536755  16365 -0.002730  0.994939

offer_application_preference

                                  mean  count      diff      risk
offer_application_preference
No                            0.551696  13328  0.012210  1.022633
Yes                           0.529480  16265 -0.010005  0.981454

past_complaint

                    mean  count      diff      risk
past_complaint
No              0.533737  14865 -0.005749  0.989344
Yes             0.545288  14728  0.005802  1.010755

complaint_status

                              mean  count      diff      risk
complaint_status
No Information Available  0.554668   3631  0.015182  1.028142
Not Applicable            0.533737  14865 -0.005749  0.989344
Solved                    0.547767   3695  0.008282  1.015351
Solved in Follow-up       0.548090   3691  0.008604  1.015949
Unsolved                  0.530854   3711 -0.008631  0.984001

feedback

                              mean  count      diff      risk
feedback
No reason specified       0.627596   5008  0.088110  1.163323
Poor Customer Service     0.645833   5040  0.106348  1.197128
Poor Product Quality      0.646908   5061  0.107422  1.199119
Poor Website              0.634181   4997  0.094695  1.175528
Products always in Stock  0.000000   1101 -0.539486  0.000000
Quality Customer Care     0.000000   1089 -0.539486  0.000000
Reasonable Price          0.000000   1143 -0.539486  0.000000
Too many ads              0.618859   5048  0.079373  1.147128
User Friendly Website     0.000000   1106 -0.539486  0.000000

In [63]:
from sklearn.metrics import mutual_info_score

In [64]:
def mutual_information_score(series):
    return mutual_info_score(series, df_full_train.churn_risk_score)

In [65]:
df_full_train[categorical].apply(mutual_information_score).sort_values(ascending = False)

security_no                     0.690026
last_visit_time                 0.586491
membership_category             0.400112
referral_id                     0.228168
feedback                        0.132288
joining_date                    0.018369
preferred_offer_types           0.001040
joined_through_referral         0.000554
offer_application_preference    0.000246
medium_of_operation             0.000186
complaint_status                0.000145
region_category                 0.000086
past_complaint                  0.000067
gender                          0.000042
internet_option                 0.000020
used_special_discount           0.000019
dtype: float64

In [66]:
df_full_train[numerical].corrwith(df_full_train.churn_risk_score)

age                      0.005246
days_since_last_login   -0.002042
avg_time_spent          -0.013130
avg_transaction_value   -0.217253
points_in_wallet        -0.289385
dtype: float64

### One-Hot Encoding

In [68]:
from sklearn.feature_extraction import DictVectorizer

In [69]:
train_dicts = df_train[categorical+numerical].to_dict(orient='records')

In [70]:
dv = DictVectorizer(sparse=False)

In [71]:
X_train = dv.fit_transform(train_dicts)

In [72]:
val_dicts = df_val[categorical+numerical].to_dict(orient='records')

In [73]:
X_val = dv.transform(val_dicts)

### Training Model

In [74]:
from sklearn.linear_model import LogisticRegression

In [75]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [76]:
dicts_test = df_test[categorical+numerical].to_dict(orient='records')

In [77]:
X_test = dv.transform(dicts_test)

In [80]:
y_predict = model.predict(X_test)

In [81]:
y_predict

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [82]:
(y_predict == y_test).mean()

0.5712934180294634