# About the dataset

### Data Preparation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('churn.csv', index_col=[0])

In [36]:
df.head().T

,0,1,2,3,4
age,18,32,44,37,31
gender,F,F,F,M,F
security_no,XW0DQ7H,5K0N3X1,1F2TCL3,VJGJ33N,SVZXCWB
region_category,Village,City,Town,City,City
membership_category,Platinum Membership,Premium Membership,No Membership,No Membership,No Membership
joining_date,2017-08-17,2017-08-28,2016-11-11,2016-10-29,2017-09-12
joined_through_referral,No,?,Yes,Yes,No
referral_id,xxxxxxxx,CID21329,CID12313,CID3793,xxxxxxxx
preferred_offer_types,Gift Vouchers/Coupons,Gift Vouchers/Coupons,Gift Vouchers/Coupons,Gift Vouchers/Coupons,Credit/Debit Card Offers
medium_of_operation,?,Desktop,Desktop,Desktop,Smartphone
internet_option,Wi-Fi,Mobile_Data,Wi-Fi,Mobile_Data,Mobile_Data
last_visit_time,16:08:02,12:38:13,22:53:21,15:57:50,15:46:44
days_since_last_login,17,16,14,11,20
avg_time_spent,300.63,306.34,516.16,53.27,113.13
avg_transaction_value,53005.25,12838.38,21027.0,25239.56,24483.66
avg_frequency_login_days,17.0,10.0,22.0,6.0,16.0
points_in_wallet,781.75,NaN,500.69,567.66,663.06
used_special_discount,Yes,Yes,No,No,No
offer_application_preference,Yes,No,Yes,Yes,Yes
past_complaint,No,Yes,Yes,Yes,Yes
complaint_status,Not Applicable,Solved,Solved in Follow-up,Unsolved,Solved
feedback,Products always in Stock,Quality Customer Care,Poor Website,Poor Website,Poor Website
churn_risk_score,0,0,1,1,1

In [7]:
df.describe()

,age,days_since_last_login,avg_time_spent,avg_transaction_value,points_in_wallet,churn_risk_score
count,36992.000000,36992.000000,36992.000000,36992.000000,33549.000000,36992.000000
mean,37.118161,-41.915576,243.472334,29271.194003,686.882199,0.540982
std,15.867412,228.819900,398.289149,19444.806226,194.063624,0.498324
min,10.000000,-999.000000,-2814.109110,800.460000,-760.661236,0.000000
25%,23.000000,8.000000,60.102500,14177.540000,616.150000,0.000000
50%,37.000000,12.000000,161.765000,27554.485000,697.620000,1.000000
75%,51.000000,16.000000,356.515000,40855.110000,763.950000,1.000000
max,64.000000,26.000000,3235.578521,99914.050000,2069.069761,1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36992 entries, 0 to 36991
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           36992 non-null  int64
 1   gender                        36992 non-null  object
 2   security_no                   36992 non-null  object
 3   region_category               31564 non-null  object
 4   membership_category           36992 non-null  object
 5   joining_date                  36992 non-null  object
 6   joined_through_referral       36992 non-null  object
 7   referral_id                   36992 non-null  object
 8   preferred_offer_types         36704 non-null  object
 9   medium_of_operation           36992 non-null  object
 10  internet_option               36992 non-null  object
 11  last_visit_time               36992 non-null  object
 12  days_since_last_login         36992 non-null  int64
 13  avg_time_spent                36992 non-null  float64
 14  avg_transaction_value         36992 non-null  float64
 15  avg_frequency_login_days      36992 non-null  object
 16  points_in_wallet              33549 non-null  float64
 17  used_special_discount         36992 non-null  object
 18  offer_application_preference  36992 non-null  object
 19  past_complaint                36992 non-null  object
 20  complaint_status              36992 non-null  object
 21  feedback                      36992 non-null  object
 22  churn_risk_score              36992 non-null  int64
dtypes: float64(3), int64(3), object(17)
memory usage: 6.8+ MB

In [35]:
categorical = list((df.dtypes[df.dtypes == object]).index)

for category in categorical:
    print('{}: \n{} \n'.format(category, df[category].value_counts()))

# categorical

gender:
F          18490
M          18443
Unknown       59
Name: gender, dtype: int64

security_no:
XW0DQ7H    1
4KYNLO2    1
0TNAZKG    1
O8IMCTW    1
UN03OJW    1
          ..
L9BXACS    1
ESEDJQ2    1
X92X4AF    1
V526FJ1    1
LBX0GLR    1
Name: security_no, Length: 36992, dtype: int64

region_category:
Town       14128
City       12737
Village     4699
Name: region_category, dtype: int64

membership_category:
Basic Membership       7724
No Membership          7692
Gold Membership        6795
Silver Membership      5988
Premium Membership     4455
Platinum Membership    4338
Name: membership_category, dtype: int64

joining_date:
2015-06-02    55
2015-07-04    51
2015-06-21    50
2015-06-26    49
2016-08-03    49
              ..
2016-03-16    19
2016-06-03    18
2015-09-12    18
2017-07-03    18
2015-03-04    16
Name: joining_date, Length: 1096, dtype: int64

joined_through_referral:
No     15839
Yes    15715
?       5438
Name: joined_through_referral, dtype: int64

referral_id:
xxxxxxxx    17846
CID43705       12
CID3979        11
CID49601       10
CID15792        9
            ...
CID28755        1
CID62237        1
CID23663        1
CID23071        1
CID45477        1
Name: referral_id, Length: 11359, dtype: int64

preferred_offer_types:
Gift Vouchers/Coupons       12349
Credit/Debit Card Offers    12274
Without Offers              12081
Name: preferred_offer_types, dtype: int64

medium_of_operation:
Desktop       13913
Smartphone    13876
?              5393
Both           3810
Name: medium_of_operation, dtype: int64

internet_option:
Wi-Fi          12413
Mobile_Data    12343
Fiber_Optic    12236
Name: internet_option, dtype: int64

last_visit_time:
07:56:41    6
17:11:53    5
22:31:06    5
02:50:54    5
12:30:02    5
           ..
21:48:50    1
07:53:40    1
00:05:51    1
10:48:11    1
01:39:52    1
Name: last_visit_time, Length: 30101, dtype: int64

avg_frequency_login_days:
Error                  3522
13.0                   1394
19.0                   1365
8.0                    1361
14.0                   1355
                       ...
28.191570401129514        1
41.73357294995208         1
-11.515939810499656       1
45.71683637272365         1
27.8399274405269          1
Name: avg_frequency_login_days, Length: 1654, dtype: int64

used_special_discount:
Yes    20342
No     16650
Name: used_special_discount, dtype: int64

offer_application_preference:
Yes    20440
No     16552
Name: offer_application_preference, dtype: int64

past_complaint:
No     18602
Yes    18390
Name: past_complaint, dtype: int64

complaint_status:
Not Applicable              18602
Unsolved                     4644
Solved                       4619
Solved in Follow-up          4577
No Information Available     4550
Name: complaint_status, dtype: int64

feedback:
Poor Product Quality        6350
No reason specified         6290
Too many ads                6279
Poor Website                6271
Poor Customer Service       6252
Reasonable Price            1417
User Friendly Website       1391
Products always in Stock    1382
Quality Customer Care       1360
Name: feedback, dtype: int64

In [43]:
numerical = list((df.dtypes[df.dtypes != object]).index)

for num in numerical:
    print('{}: \n{} \n'.format(num, df[num].value_counts()))

age:
33    720
42    716
16    716
38    714
30    711
61    709
60    704
57    704
41    699
59    696
55    695
28    694
34    692
47    691
21    689
32    685
17    683
56    682
29    681
48    680
45    680
46    679
58    678
62    677
22    677
26    675
53    675
52    672
64    672
10    670
14    670
49    669
23    669
36    668
44    661
12    661
19    660
51    660
27    659
43    657
63    656
35    656
50    656
11    654
13    654
37    653
15    649
24    645
39    642
20    641
31    636
25    635
18    629
40    628
54    608
Name: age, dtype: int64

days_since_last_login:
 12     2380
 13     2373
 14     2307
 15     2278
 11     2262
 10     2091
 16     2068
-999    1999
 9      1863
 17     1747
 8      1571
 18     1444
 7      1442
 19     1308
 6      1257
 5      1234
 20     1184
 21     1015
 4       998
 22      895
 3       852
 23      727
 2       613
 24      471
 1       328
 25      203
 26       82
Name: days_since_last_login, dtype: int64

avg_time_spent:
34.100000      21
34.710000      20
33.680000      20
34.330000      19
31.490000      18
               ..
1177.998747     1
51.550000       1
265.190000      1
447.990000      1
482.610000      1
Name: avg_time_spent, Length: 25961, dtype: int64

avg_transaction_value:
14176.97    2
7282.58     2
30126.02    2
21244.03    2
23142.51    2
           ..
40634.78    1
30596.16    1
3300.82     1
2378.69     1
2189.68     1
Name: avg_transaction_value, Length: 36894, dtype: int64

points_in_wallet:
705.070000     9
780.920000     8
771.750000     7
760.540000     7
710.690000     7
              ..
1188.729586    1
827.500000     1
357.996152     1
392.010095     1
197.264414     1
Name: points_in_wallet, Length: 23699, dtype: int64

churn_risk_score:
1    20012
0    16980
Name: churn_risk_score, dtype: int64

In [40]:
df.isnull().sum()

age                                0
gender                             0
security_no                        0
region_category                 5428
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [63]:
df[df['gender'] == 'Unknown'].churn_risk_score.value_counts()

1    10049
0     8441
Name: churn_risk_score, dtype: int64

In [ ]:
# df['gender'].replace('Unknown', 'F', inplace = True)